<form id="loginFm" role="form" vld-validate="" class="form-vertical bc-form-passwordMethod" action="/sps/login/methods/password" method="POST" onkeydown="if (event.keyCode == 13) {return false;}" novalidate="">


        <input type="hidden" name="isDelayed" value="false">

        <div id="loginDv" class="auth-login">

                <div class="form-group">
                    <label for="login" class="control-label">
                        Логин (телефон, email или СНИЛС)
                    </label>
                    <div class="form-input">
                        <input id="login" name="login" type="text" tabindex="2" class="form-control" value="" placeholder="Логин (телефон, email или СНИЛС)" data-parsley-required="true" data-parsley-trim-value="true" data-parsley-required-message="Введите логин" data-parsley-id="4">

                    </div>
                </div>

        </div>
<script>
    function go(){
        let uri = document.getElementById("button_url").value;
        let target_url_from_unauthorized_page = location.href;
        let date = new Date(new Date().getTime() + 300 * 1000);
        let cookie_set_str = "target_url_from_unauthorized_page="+target_url_from_unauthorized_page+";" +"path=/; expires=" + date.toUTCString()+";domain="+location.host;
        document.cookie = cookie_set_str;
        setTimeout(function(){
            location.href=uri;
            return false;
            },100);
    }
</script>

            <div class="form-group">
                <label for="password" class="control-label">
                    Пароль
                </label>
                <div class="form-input posr">
                    <span class="append-icon right">
                        <i id="show_password" class="fa fa-eye-slash"></i>
                    </span>
                    <input id="password" name="password" type="password" tabindex="3" autofocus="" class="form-control" value="" placeholder="Введите пароль" data-parsley-required="true" data-parsley-required-message="Введите пароль" data-parsley-id="6">

                </div>
            </div>


        <div class="form-group pb15">

<div class="col-sm-6">
    <div id="notRememberMeDiv" class="checkbox-custom bc-checkbox-alien" tabindex="4">
        <input id="notRememberMe" name="notRememberMe" type="checkbox" class="" data-parsley-multiple="notRememberMe" data-parsley-id="9">
        <label for="notRememberMe">Чужой компьютер</label>
    </div>
</div>
            <div class="col-sm-6">

                    <div id="recoveryEnter" class="text-right bc-recovery-url">
                        <a href="/sps/recovery">Забыли пароль?</a>
                    </div>

            </div>
        </div>



        <button id="bind" type="button" tabindex="5" class="btn btn-lg btn-primary btn-block bc-form-btn">

                Войти

        </button>

        </form>